<!DOCTYPE html>
<html>
	<head>
		<title>Email destine aux nouveaux designers</title>
		<style type="text/css">
			html body {
				width:600px;
				height:400px;
				text-align:center;
				margin: 0 auto;

			}
			body *{
				padding-bottom: 15px;
			}
			h1 {
				font-size: 22px;
			}
			h2 {
				font-size: 20px;
			}
			h1,h2 {
				font-family: sans-serif;
				color:#DCB6B0;
				font-weight: bold;
			}
			p {
				font-family: sans-serif;
				font-size: 18px;
				color:#71605E;
			}
		</style>
	</head>
	<body>
		<h1>Welcome to FAB-ATELIER!</h1>
		<p>Thanks for joining the FAB-ATELIER Community!<br/> We&apos;re a creative community that makes, supports, and buys great jewelry.<br/> FAB-ATELIER is in the beta phase and we are currently inviting designers around the world to submit their designs and test our platform.
		</p>
		<p>
			Thomas & Alex, our experts in jewelry production, will be in touch with you in the upcoming days.
		</p>
		<p>
			We look forward to speaking with you.<br/>Your FAB-ATELIER Team
		</p>
		<h2>The FAB-ATELIER Team<br/>production@fab-atelier.com</h2>
	</body>
</html>