.wrapper
  .logo.solo
    = image_tag("logo-form.png", class: 'logo-img', width:'100')
  .message
    %h1 S P L E N D I D !
    %p
      We’ll get in touch with you shortly.
      %br
      We look forward to it.
      %br
    %h2 B E  S A F E .
  %span.copyright
