.wrapper
  .logo.solo
    %a{ :href => "/", :title => "Meet the Team" }
      = image_tag("logo-form.png", class: 'logo-img', width:'100')
  .message
    %h1 SPLENDID !
    %p
      We’ll get in touch with you shortly.
      %br
      We look forward to it.
      %br
    %h2 BE  SAFE .
  %span.copyright
