.wrapper
  .logo
    %a{ :href => "/", :title => "Meet the Team" }
      = image_tag("logo.jpg", class: 'logo', width:'250')
  .description
    %h1 Jewelry designer ?
    %p
      Let's freshen up the industry !
      %br
      We are inviting 40-50 Designers to join us !
      %br
      You dream the Jewelry – We do everything else.
    %h2 Interested ?
  %a{:href => "/designers/new", :class => "link-form"} Let's talk
  %span.copyright
