// Place all the styles related to the designers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import "stylesheet.css";

//font-family: 'amsi_pro_narwbold';
//font-family: 'amsi_pro_narwthin';

$color-brown-0: #d2bab5;
$color-dark-0: #575756;
$color-grey-0: #efefef;

body, html{
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wrapper {
  width: 1200px;
  margin: auto;
  background: image_url("bg.jpg") no-repeat left center;
  background-size: contain;
  position: relative;
  height: 100%;
  &.no-bg{
    background: #fff;
  }
}
.logo {
  width: 200px;
  margin: 20px auto;
  .logo-img {
    width: 100%;
    display: block;
  }
  &.solo {
    width: 100px;
    margin: 20px auto;
    .logo-img {
      width: 100%;
      display: block;
    }
  }
}

.description {
  width: 440px;
  float: right;
  margin-right: 50px;
  background: $color-brown-0;
  color: black;
  font-family: 'amsi_pro_narwthin';
  line-height: 30px;
  padding: 20px;
  border-radius: 2px;
  text-align: justify;
  color: $color-dark-0;
  letter-spacing: 2px;
  font-size: 1.3em;

  h1, h2 {
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: 'amsi_pro_narwultra';
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

a.link-form, .submit input {
  display: block;
  float: right;
  clear: right;
  margin-right: 50px;
  background: $color-brown-0;
  color: white;
  border-radius: 3px;
  padding: 10px 30px;
  margin-top: 20px;
  text-decoration:  none;
  -webkit-appearance: none;
  appearance: none;
  border: 0 none;
  cursor: pointer;
  font-family: 'amsi_pro_narwbold';
  text-transform: uppercase;

  &:hover {
    background: black;
  }
}

.form-container {
  padding: 20px;
  background: rgba(255,255,255,.95);
  width: 100%;
  margin: auto;
  .input, .website {
    margin-bottom: 10px;
    input {
      width: 380px;
      margin-right: 10px;
      border: 0 none;
      background: $color-grey-0;
      padding: 15px 10px;
      margin-bottom: 5px;
      font-family: 'amsi_pro_narwthin';
      font-size: 1.2em;
      &:focus {
        background: rgba(239, 239, 239, 0.5);
      }
    }
    select {
      width: 380px;
      border: 0 none;
      background: $color-grey-0;
      padding: 0 10px;
      margin-bottom: 5px;
      appearance: none;
      font-size: 1.2em;
      border-radius: 0;
      font-family: 'amsi_pro_narwthin';
      background: image_url("selected.jpg") no-repeat right center;
      height: 45px;
    }
  }
  .website {
    input {
      float: right;
    }
  }

  textarea#designer_comment {
      width: 795px;
      border: 0 none;
      background: $color-grey-0;
      padding: 15px 10px;
      margin-bottom: 5px;
      height: 120px;
      font-size: 1.2em;
      font-family: 'amsi_pro_narwthin';
  }

}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {
  background: image_url("add-more.jpg") no-repeat center center #000;
  background-size: 100%;
  border: 0 none;
  border-radius: 0;
  width: 90px;
  height: 90px;
  display: block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;

  input {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
}
.submit input {
  clear: both;
  float: right;
  font-family: 'amsi_pro_narwbold';
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 1.1em;
}
.clear {
  clear: both;
}

form.new_designer {
  width: 840px;
  margin: auto;
}

.message {
  width: 400px;
  margin:150px auto;
  float: right;
  background: $color-brown-0;
  color: black;
  padding: 20px;
  border-radius: 2px;
  text-align: justify;
  color: $color-dark-0;
  font-family: 'amsi_pro_narwthin';
  letter-spacing: 1px;
  font-size: 1.1em;

  h1, h2 {
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 3px;
    font-family: 'amsi_pro_narwultra';
    font-weight: bold;
  }
}
.pic-describe {
  color: $color-dark-0;
  font-size: .9em;
}
.form-container textarea#designer_comment{
  width: 795px;
}

@media (max-width: 600px) {

  .wrapper {
    width: 100%;
  }

  form.new_designer {
    width: 100%;
  }

  .form-container textarea#designer_comment{
    width: 80%;
  }

  .form-container {
    width: 100%;
  }
  .form-container .website input {
    float: none;
  }
  .form-container .input, .form-container .website {
    margin: 0;
  }
  .submit input {
    float: left;
  }
  .description {
    width: auto;
    margin-right: 0;
  }
}
